@import "tailwindcss";

html {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Theme Colors */
@theme {
  --color-theme1: #F9F7F7;
  --color-theme2: #DBE2EF;
  --color-theme3: #3F72AF;
  --color-theme4: #112D4E;
}